name: CI
on:
  pull_request_target:
# Remove all permissions by default
permissions: {}
jobs:
  build:
    runs-on: ubuntu-latest
    name: Build
    if: ${{ contains(github.event.pull_request.labels.*.name, 'verify') || (github.event.action == 'labeled' && github.event.label.name == 'verify') }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
      - name: Download and install InstallBuilder
        uses: bitnami/bndiagnostic/.github/actions/setup-installbuilder@5fec83dd6b59f6e9c783271c7c6387b336393051
        with:
          license: ${{ secrets.INSTALLBUILDER_LICENSE }}
      - name: Build project
        uses: bitnami/bndiagnostic/.github/actions/build@5fec83dd6b59f6e9c783271c7c6387b336393051
        with:
          upload-api-key: ${{ secrets.UPLOAD_API_KEY }}
