name: Release
on:
  push:
    branches:
      - main
  release:
    types: [published]
  workflow_dispatch:
# Remove all permissions by default
permissions: {}
jobs:
  build:
    runs-on: ubuntu-latest
    name: Build
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - name: Download and install InstallBuilder
        uses: bitnami/bndiagnostic/.github/actions/setup-installbuilder@20074a2bcccecdffb650df9b00529c2792e65e29
        with:
          license: ${{ secrets.INSTALLBUILDER_LICENSE }}
      - name: Build project
        uses: bitnami/bndiagnostic/.github/actions/build@20074a2bcccecdffb650df9b00529c2792e65e29
        with:
          upload-api-key: ${{ secrets.UPLOAD_API_KEY }}
      - name: Copy release files
        run: cp output-*/bndiagnostic-*.run output-amd64/bndiagnostic-update.xml .
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
        with:
          name: release
          path: |
            bndiagnostic-update.xml
            bndiagnostic-*.run
  release:
    needs: ['build']
    if: github.repository == 'bitnami/bndiagnostic' && startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    name: Release
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53
        with:
          path: ./artifacts
      - name: Set tag name
        id: get-tag-name
        run: printf "GITHUB_TAG=%s\n" ${GITHUB_REF#refs/*/} >> $GITHUB_OUTPUT
      - name: Check tool version is the same as tag
        run: |
          set -e
          tag_name="${{ steps.get-tag-name.outputs.GITHUB_TAG }}"
          version_name="$(cat VERSION)"
          if [ "$tag_name" != "v${version_name}" ]; then
            echo "The tool version v${version_name} does not match the tag: ${tag_name}"
            exit 1
          fi
      - name: Release
        run: |
          set -e
          assets=( ./artifacts/release/* )
          tag_name="${{ steps.get-tag-name.outputs.GITHUB_TAG }}"
          if gh release view "$tag_name" >/dev/null 2>/dev/null; then
            echo "Release $tag_name already exists. Updating"
            gh release upload "$tag_name" "${assets[@]}"
          else
            echo "Creating new release $tag_name"
            gh release create -t "$tag_name" "$tag_name" --generate-notes "${assets[@]}"
          fi
  upload:
    needs: ['build', 'release']
    runs-on: ubuntu-latest
    name: Upload
    env:
      S3_URL: ${{ secrets.S3_URL }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53
        with:
          path: ./artifacts
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          role-duration-seconds: 1200
          role-session-name: MySessionName
          role-skip-session-tagging: true
      - name: Upload to S3 bucket
        run: |
          set -e
          version_name="$(cat VERSION)"
          cd ./artifacts/release
          for arch in arm64 x64; do
            aws s3 cp --acl public-read bndiagnostic-$version_name-linux-$arch.run $S3_URL/$version_name/
            aws s3 cp --acl public-read bndiagnostic-$version_name-linux-$arch.run $S3_URL/latest/bndiagnostic-linux-$arch.run
          done
          aws s3 cp --acl public-read bndiagnostic-update.xml $S3_URL/latest/
  notify:
    name: Send notification
    needs:
      - release
      - upload
    if: ${{ always() && (needs.release.result == 'failure' || needs.upload.result == 'failure') }}
    uses: bitnami/support/.github/workflows/gchat-notification.yml@main
    with:
      workflow: ${{ github.workflow }}
      job-url: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
    secrets:
      webhook-url: ${{ secrets.GCHAT_CONTENT_ALERTS_WEBHOOK_URL }}
